{% extends 'base.html' %}
{% block title %} contact {% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}
{% block body %}
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">GeekyWorld</h1>
            <p>GeekyWorld is a tech blog where user can read the honest reviews of all tech products  (Smartphones, Camreas, Earphones, Bluetooth devices, Laptops and Desktops etc.) present in the market and help them to take wise decision with their money. This blog is created with a motivation to provide the best possible experience to the user while not compromising on the technical aspects.
                <br> 
                We at GeekyWorld assure you to provide you un-biased reviews of all tech gadget and help you to choose best products in your desired budget segment.
                <br>
                If we misses out review of any of your desired product then just send us the query regarding this and we assure you to review that product as soon as possible and will let you know by sending mail to your registerd mail-id.
            </p>

        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                    xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                    aria-label="Placeholder: 140x140">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                        dy=".3em">140x140</text>
                        <image width="140" height="140" xlink:href="https://pbs.twimg.com/profile_images/943373949143990272/UWjpkSRk_400x400.jpg" clip-path="url(#myCircle)" />
                </svg>
                <h2>Editor</h2>
                <p><b>Brajeswar Lenka</b><a style="text-decoration: none; color: black;" href="http://www.linkedin.com/in/brajeswar-lenka-4a28851b2/" target="_blank"> is a Software Engineer predominately work on Python. He has a great affection for technology from his college days. His main expertise is in the field of smartphone and camera apart from Python. </p></a>
                
            </div><!-- /.col-lg-4 -->
           
            
        </div><!-- /.row -->


    

    </div> <!-- /container -->




</main>
{% endblock body %}