{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block homeactive %} active {% endblock homeactive %}
{% block body %}
<div class="container my-3">

    <div class="jumbotron">
        <h1 class="display-4">Hello, Geeks!</h1>
        <p class="lead">Welocome to GeekyWorld. Your one-stop solution to get all tech related news and reviews.</p>
        <hr class="my-4">
        <p>Here you can read reviews of almost every tech products and choose best product that suits your pocket and provide you best value for your bucks.</p>
        <a class="btn btn-primary btn-lg" href="/blog" role="button">Read News</a>
    </div>

    <div class="row mb-2">
        {% for post in allPost %}
        <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">Article by {{post.author}}</strong>
                    <h3 class="mb-0">{{post.title|striptags}}</h3>
                    <div class="mb-1 text-muted">{{post.timeStamp}}</div>
                    <p class="card-text mb-auto">{{post.content|truncatechars:90|striptags}}</p>
                    <a href="/blog/{{post.slug}}" class="stretched-link">Continue reading</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock body %}