{% extends 'base.html' %}
{% block title %} Search Results - GeekyWorld {% endblock title %}
{% block body %}
<div class="container my-3">
<h3>Search Results for "{{query}}"  </h3>
{% if allPosts|length < 1%}
<p>Your search - <b> {{query|truncatechars:20}} </b> - did not match any documents.</p>
Suggestions:
<ul>
<li>Make sure all words are spelled correctly.</li>
<li>Try different keywords.</li>
<li>Try more general keywords.</li>
<li>Try fewer keywords.</li>
</ul>
{% endif %}
{% for post in allPosts %}

    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Article by {{post.author}}</strong>
            <h3 class="mb-0">{{post.title|striptags}}</h3>
            <div class="mb-1 text-muted">{{post.timeStamp }}</div>
            <!-- truncatechars will shorten the characters by given number it is same as doing slicing -->
            <!-- truncatechars comes under django filters -->
            <p class="card-text mb-auto">{{post.content|striptags|truncatechars:200}}</p>
            <a href="/blog/{{post.slug}}" class="stretched-link my-2">Continue reading</a>
        </div>
    </div>
  
    {% endfor %}
</div>
{% endblock body %}